server {
    listen ${EXTERNAL_PORT};
    client_max_body_size 50M;

    location / {
        proxy_pass http://frontend:3000/;
    }

    location /documents/ {
        proxy_pass http://document-service:3001/;

        proxy_set_header X-Forwarded-Prefix /documents;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_redirect / /documents/;
    }

    location /forms/ {
        proxy_pass http://forms-service:3000/;

        proxy_set_header X-Forwarded-Prefix /forms;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_redirect / /forms/;
    }
}